:root{
    --mainColor: #141416;
    --secondColor: #FD6262;
    --thirdColor: #4673ED;
    --grayColor: #FFFFFF6E;
}
body{
    background-color: var(--mainColor) ;
    overflow-x: hidden;
}
*{
    color: white;
    font-family: 'Poppins', sans-serif;
}

.header{
    background: url(media/headerMain.png);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.headerSolution{
    background: url(media/solotutionHeader.png);
    height: 60vh;
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.sectionHome1{
    height: auto;
    background: url(media/sectionMain.png);
    background-position: left;
    background-size: 50%;
    background-repeat: no-repeat;
    border-style: solid;
    border-width: 2px;
    border-color: var(--grayColor);
    
}

.cardCustom{
    background-color: #1B1C1E;
}
.title{
    color: var(--thirdColor);
}
.paragrafo{
    color: var(--grayColor);
    letter-spacing: 2px;
}

.divisor{
    width: 65%;
    color: var(--grayColor);

}

.position{
    position: relative;
    top: 45%;
    text-align: center;
}

.posCard1{
position: relative;
bottom: 70px;
}
.bg-black{
    background-color: var(--mainColor);
}

.sectionHome2{
    height: 80vh;
    background: url(media/section2Main.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-right: 2px solid var(--grayColor);
    border-left: 2px solid var(--grayColor);
    
}
.border-all{
    border-top: 2px solid var(--grayColor);
    border-right: 2px solid var(--grayColor);
    border-left: 2px solid var(--grayColor);
}

.border-right{
    border-top: 2px solid var(--grayColor);
    border-right: 2px solid var(--grayColor);
    border-bottom: 2px solid var(--grayColor);
}
.border-left{
    border-top: 2px solid var(--grayColor);
    border-left: 2px solid var(--grayColor);
    border-bottom: 2px solid var(--grayColor);
}
.border-left-only{
    border-left: 2px solid var(--grayColor);
}
.border-right-only{
    border-right: 2px solid var(--grayColor);
}
.border-no-top{
    border-left: 2px solid var(--grayColor);
    border-bottom: 2px solid var(--grayColor);
    
}

.number{
    color: var(--secondColor);
}
.sectionHome3{
    height: 80vh;
    background: url(media/section3Main.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-right: 2px solid var(--grayColor);
    border-left: 2px solid var(--grayColor);
}

.list-decoation{
list-style: none;
}
.partners{
    width: 50%;
    height: 50%;
}
.partners:hover{
    filter: brightness(200);
}

#imgScroll{
    height: 400px;
    background-image: url('media/imgscroll.png');
    background-position: center;
    background-size: cover;
    
}

.navbarCostum{
    background-color: var(--mainColor);
    
}
.transition{
    display: none;
    transition: 0.5s;
}

.img-costum{
    height: 100%;
    width: 105%;
    margin-left: -12px;
}

.Story{
    background: url('media/download\ \(14\).png');
    background-position: center;
    background-size: cover;
}
.vision{
    height: auto;
    background: url('media/download\ \(13\).png');
   background-position: center;
   background-size: cover;
}